{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container mt-5">
    <div class="card-columns">
        <div class="card mt-5">
            <a href="#">
                <img class="card-img-top"
                    src="{{ article.image.url }}"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <p class="card-text">
                        {% autoescape on %}
                            {{ article.post | truncatechars:150 }}
                        {% endautoescape %}
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            <i class="fa fa-user"></i>
                            by
                            {{ article.editor.first_name }}
                            <i class="fa fa-calendar"></i>
                            {{ article.published|timesince }}
                        </small>
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}