{%extends 'all-news/base.html'%}

{% block content %}
{{block.super}}

<div class="container d-flex justify-content-center">
    <!-- Looping through news -->
    {% for news_item in news %}
    <div class="row">
        <!-- Displayng news articles -->
        <div class="col-md-6">
            <h2 class="breadcrumb text-class shadow-lg bg-white">{{ news_item.title }}</h2>
        </div>
    </div>
    {% empty %}
    <div class="row">
        <h2 class="text-center">There Is No News Items</h2>
    </div>
    {% endfor %}
</div>

{% endblock %}