* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Gotham Rounded, sans-serif;
    background-color: #F2E9EB;
    color: #31383F;
}

.navbar {
    background-color: #fff !important;
    color: #31383F;
}

.navbar-brand {
    color: #DD8EA4;
}

h1 {
    color: #DD8EA4;
}

.breadcrumb {
    padding: 15px;
    font-size: 15px;
    color: #31383f !important;
    letter-spacing: 1px;
    border-radius: 8px !important
}