{% extends "base.html" %}
{% load static %}

{% block title %}
    LoginPage
{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="wrap shadow mt-5">
        <span class="form-title">
            <img src="{% static 'img/jefflogo.svg' %}" alt="IMG">
        </span>

        <form class="form-validate" method="POST">
            {% csrf_token %}
            <div class="form-group mt-5">
                {{ form|crispy }}
            </div>

            <div class="mt-5">
                <button type="submit" id="animatebutton" class="btn btn-warning btn-icon-text animatebutton"> LOG IN </button>
            </div>

            <div class="pt-5">
                <span>Don't have an account? Create one <a href="{% url 'register' %}">here</a></span>
            </div>
        </form>
    </div>
{% endblock %}