{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container mt-5">
    <div class="card-columns">
        {% for article in articles %}
        <div class="card mt-5">
            <a href="#">
                <img class="card-img-top"
                    src="{{ article.image.url }}"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <p class="card-text">
                        {{ article.post | truncatechars:150 }}
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            <i class="fa fa-eye"></i>
                            {{ article.tags }}
                            <i class="fa fa-user"></i>
                            {{ article.editor }}
                            <i class="fa fa-calendar"></i>
                            {{ article.published }}
                        </small>
                    </p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}