{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="card-columns">
        {% for article in articles %}
        <div class="card mt-5">
            <a href="#">
                <img class="card-img-top"
                    src="{{ article.image.url }}"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <p class="card-text">
                        {{ post }}
                    </p>
                    <p class="card-text"><small class="text-muted"><i class="fas fa-eye"></i>{{ article.tags }}<i
                                class="far fa-user"></i>{{ article.editor }}<i class="fas fa-calendar-alt"></i>{{ article.pub_date }}</small>
                    </p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}