<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Moringa Tribune</title>
</head>
<body>
    <navbar class="navbar nabar-dark bg-primary shadow">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand text-white" href="{% url 'newsToday' %}">The Moringa Trinbune</a>
            </div>
        </div>
    </navbar>
</body>
</html>